body {
  margin: 0;
  text-align: center;
}

.grid {
  height: 500px;
  width: 500px;
  border: solid 1px black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 50px;
  width: 50px;
  /*//background-color: green;
  //border: none;*/
}

.highscore {
  display: inline-block;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

.btn-line {
  width: 30%;
  display: flex;
  height: 2.5em;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto;
}

button {
  border: none;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: antiquewhite;
}