body {
  margin: 0;
  text-align: center;
}

.grid {
  height: 500px;
  width: 500px;
  border: solid 1px black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 50px;
  width: 50px;
  /*//background-color: green;
  //border: none;*/
}

.highscore {
  display: inline-block;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
